.buttons {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.button {
    display: inline-flex;
    place-items: center;
    gap: 0.5rem;
    padding: 0.75rem 1rem;
    border: 1px solid transparent;
    border-radius: var(--radius);
    font-size: 0.875rem;
    font-weight: 400;
    color: rgba(var(--foregroundRgb), 0.85);
    transition: var(--transition);

    &.primary {
        background: rgba(var(--foregroundRgb), 0.1);
        color: var(--foreground);
        border-color: rgba(var(--foregroundRgb), 0.15);

        &:hover {
            background: rgba(var(--foregroundRgb), 0.2);
            color: var(--foreground);
        }
    }
}