:root {
	font-size: 16px;
	--primary: #5bfdc9;
	--background: #0d0f14;
	--backgroundRgb: 13, 15, 20;
	--foreground: #ffffff;
	--foregroundRgb: 255, 255, 255;
	--font-family: "Inter", sans-serif;
	--radius: 0.5rem;
	--transition: 0.25s ease-in-out;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	max-width: 100%;
}

html,
body {
	display: flex;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	width: 100%;
	max-width: 100%;
	height: 100%;
	overflow-x: hidden;
}

body {
	display: flex;
	flex-direction: column;
	background: var(--background);
	font-family: var(--font-family);
	font-size: 1rem;
	line-height: 1;
	letter-spacing: -0.04rem;
	color: var(--foreground);
}

.srOnly {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.row {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	padding: 3rem 2rem;

	@media (width > 768px) {
		padding: 3rem 4rem;
	}

	@media (width > 1200px) {
		padding: 5rem;
	}

	@media (width > 1512px) {
		padding: 7rem;
	}
}
