---
import Layout from "../layouts/layout.astro";
import Slider from "../components/splide.astro";
---

<Layout>
	<div class="row">
		<div class="container">
			<Slider />
		</div>
		<!-- .container -->
	</div>
	<!-- .row -->
</Layout>
